---
import BackButton from "../components/BackButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Copyright Notice"
  description="Copyright Notice for Riley's Web Tools, a small collection of free and open source utilities for your daily tasks."
  tags="free, open source, private, web-based, tools, copyright, notice, consent"
>
  <BackButton />
  <div class="flex max-w-2xl flex-col gap-2 p-4"></div>
</Layout>
