---
import BackButton from "../components/BackButton.astro";
import Layout from "../layouts/Layout.astro";
const year = new Date().getFullYear();
---

<Layout
  title="Copyright Notice"
  description="Copyright Notice for Riley's Web Tools, a small collection of free and open source utilities for your daily tasks."
  tags="free, open source, private, web-based, tools, copyright, notice, consent"
>
  <BackButton />
  <div class="flex max-w-2xl flex-col gap-2 p-4">
    <p>Copyright © {year} Riley Peralta, all rights reserved</p>
    <p>
      My tools included on this site, and the site itself, are open source. The
      source code can be found in this <a
        href="https://github.com/RP2/web-tools"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="underline">Github repository</a
      >. Please do not share or use this work elsewhere without my permission,
      doing so will hurt my feelings.
    </p>
    <p>
      By viewing or accessing this website, you <strong>acknowledge</strong> that
      you have read & agree to these terms of use.
    </p>
  </div>
</Layout>
