---
import Layout from "../layouts/Layout.astro";

interface ToolModule {
  file: string;
  url: string;
}
// Import all tool modules from the tools directory
const tools = Object.values(
  import.meta.glob<ToolModule>("./tools/*.astro", { eager: true }),
);
// Filter out the index.astro file from tools array
const filteredTools = tools.filter((tool) => {
  const filename = tool.file.split("/").pop();
  return filename !== "index.astro";
});
---

<Layout
  title="Riley's Web Tools"
  description="A small collection of free and open source utilities for your daily tasks."
  tags="free, open source, private, web-based, tools"
>
  <ul
    class="mt-4 ml-5 space-y-2 text-4xl font-semibold md:mt-8 md:ml-9 md:space-y-4 md:text-8xl"
  >
    {
      filteredTools.map((tool: any) => (
        <li>
          <a class="hover:underline" href={tool.url + "/"}>
            {tool.url
              .split("/")
              .pop()
              .replace(/[-_]/g, " ")
              .replace(/\b\w/g, (match: any) => match.toUpperCase())}
          </a>
        </li>
      ))
    }
    <li class="text-neutral-400">More Coming Soon...</li>
  </ul>
</Layout>
