---
let currentPath = Astro.url.pathname.split("/").filter(Boolean).join(" / ");
---

<nav aria-label="Breadcrumb" class="p-4">
  <p class="text-neutral-500">
    <a class="text-neutral-900 hover:underline" href="/">go home</a> / {
      currentPath
    }
  </p>
</nav>
