---
const currentPath = Astro.url.pathname.split("/").filter(Boolean);
// Build paths for each breadcrumb level (reusable)
const breadcrumbs = currentPath
  .filter((path) => path !== "tools") // Filter out desired word from breadcrumbs
  .map((path) => {
    // Include filtered path in URL as needed (span if current page)
    const urlParts = currentPath.slice(0, currentPath.indexOf(path) + 1);
    const url = "/" + urlParts.join("/");
    return { text: path, url };
  });
---

<nav aria-label="Breadcrumb" class="p-4">
  <p class="text-neutral-500">
    <a href="/" class="text-neutral-800 hover:underline">home</a>
    {
      breadcrumbs.map((crumb, index) => (
        <>
          <span class="mx-1">/</span>
          {index === breadcrumbs.length - 1 ? (
            <span class="text-neutral-500">{crumb.text}</span>
          ) : (
            <a href={crumb.url + "/"} class="text-neutral-800 hover:underline">
              {crumb.text}
            </a>
          )}
        </>
      ))
    }
  </p>
</nav>
