---

---

<footer
  class="flex grid-cols-6 flex-col gap-4 px-4 pb-3 text-sm lg:grid lg:gap-8"
>
  <div class="flex flex-col gap-4 lg:gap-8">
    <div>
      <h3 class="text-neutral-500">Portfolio</h3>
      <a href="https://rileyperalta.com" target="_blank" class="underline"
        >rileyperalta.com</a
      >
    </div>
    <div>
      <h3 class="text-neutral-500">Blog</h3>
      <a href="https://blog.rileyperalta.com" target="_blank" class="underline"
        >blog.rileyperalta.com</a
      >
    </div>
    <div>
      <h3 class="text-neutral-500">Github</h3>
      <a
        href="https://github.com/RP2/web-tools"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="underline">Source code</a
      >
    </div>
  </div>
  <div class="col-span-2 max-w-[70ch]">
    <h3 class="text-neutral-500">Privacy</h3>
    <p>
      Your <a href="/privacy/" class="underline">privacy</a> is important to me.
      This website does not knowingly engage in invasive practices such as tracking
      data, fingerprinting, or selling personal information to third parties. This
      site is hosted on <a
        href="https://www.cloudflare.com/privacypolicy/"
        class="underline"
        target="_blank"
        rel="noopener noreferrer nofollow">Cloudflare</a
      >, ensuring fast performance and enhanced security for all users. It also
      utilizes <a
        href="https://policies.google.com/privacy"
        class="underline"
        target="_blank"
        rel="noopener noreferrer nofollow">Google Search Console</a
      > for maintenance and SEO purposes ensuring a seamless web presence.
    </p>
  </div>
  <div class="max-w-[70ch]">
    <h3 class="text-neutral-500">Thank you</h3>
    <p>
      The internet can be a vast and wonderful place, but often consolidated and
      monetized for profit. Thanks for checking out my <a
        href="/"
        class="underline">little corner of the internet</a
      >, I hope you find these tools useful.
    </p>
  </div>

  <div class="col-start-6">
    <h3 class="text-neutral-500">Copyright</h3>
    <p>&copy; {new Date().getFullYear()} Riley Peralta</p>
  </div>
</footer>
